package ${groupId};

import org.mybatis.spring.annotation.MapperScan;
import org.springframework.boot.SpringApplication;
import org.springframework.boot.autoconfigure.SpringBootApplication;
import org.springframework.boot.autoconfigure.jdbc.DataSourceAutoConfiguration;
#if(${packageScan} != "")
import org.springframework.context.annotation.ComponentScan;
#end

// import com.alinesno.infra.common.core.auto.EnableRpc;
import com.alinesno.infra.rest.gateway.adapter.enable.EnableApi;

/**
 * 启动入口
 *
 * @author ${author} ${authorEmail}
 * @since 2020-12-08 10:12:366
 */
// @EnableRpc
@EnableApi
@SpringBootApplication(exclude = DataSourceAutoConfiguration.class)  // 不需要加载数据库时
#if(${packageScan})
@ComponentScan({"${groupId}" , "${packageScan}"})
#end
// @SpringBootApplication // 需要加载数据库时
// @MapperScan("${groupId}.mapper")
public class Application {

	public static void main(String[] args) {
		SpringApplication.run(Application.class, args);
	}

}

