<?xml version="1.0" encoding="UTF-8"?>
<project xmlns="http://maven.apache.org/POM/4.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://maven.apache.org/POM/4.0.0 https://maven.apache.org/xsd/maven-4.0.0.xsd">
	<modelVersion>4.0.0</modelVersion>
	
	<parent>
		<groupId>${groupId}</groupId>
		<artifactId>${artifactId}-parent</artifactId>
		<version>${revision}</version>
		<relativePath>../pom.xml</relativePath>
	</parent>
	
	<groupId>${groupId}</groupId>
	<artifactId>${artifactId}-gateway</artifactId>
	<version>${revision}</version>
	<packaging>jar</packaging>

	<dependencies>
		
		<dependency>
			<groupId>com.alinesno.infra.common.web</groupId>
			<artifactId>alinesno-cloud-common-web-api-starter</artifactId>
			<version>${alinesno.cloud.version}</version>
		</dependency>
	
		<dependency>
			<groupId>${groupId}</groupId>
			<artifactId>${artifactId}-api</artifactId>
			<version>${revision}</version>
		</dependency>
		
		<dependency> 
			<groupId>com.alinesno.infra.base.boot</groupId>
			<artifactId>alinesno-cloud-base-authority-api</artifactId>
			<version>${alinesno.cloud.version}</version>
		</dependency>
		
#if(${gatewayDependency})
		<!-- ${dependencyProjectName}gateway_start -->
		<dependency>
			<groupId>${gatewayDependency.groupId}</groupId>
			<artifactId>${gatewayDependency.artifactId}</artifactId>
			<version>${gatewayDependency.version}</version>
		</dependency>
		<!-- ${dependencyProjectName}gateway_end -->
#end

	</dependencies>

</project>
