import { login, logout, getInfo } from 'alinesno-ui/src/api/login'
import { getToken, setToken, removeToken } from 'alinesno-ui/src/utils/auth'

const { VUE_APP_BASE_API } = process.env

var displayUrl = process.env.VUE_APP_DISPLAY_URL ;

// >>>> 自定义环境变量的问题 >>>>
if(process.env.VUE_APP_ENV !== 'development'){  // 非开发环境
  if(window.g.VUE_APP_DISPLAY_URL) {
    displayUrl = window.g.VUE_APP_DISPLAY_URL
  }
}

var BASE_API_URL = process.env.VUE_APP_BASE_API
console.log('window.g = ' + window.g)

if( window.g.DYNAMIC_VUE_APP_BASE_API !== 'SERVER_URL'){
    BASE_API_URL = window.g.DYNAMIC_VUE_APP_BASE_API
}

const user = {
  state: {
    token: getToken(),
    name: '',
    avatar: '',
    roles: [],
    permissions: []
  },

  mutations: {
    SET_TOKEN: (state, token) => {
      state.token = token
    },
    SET_NAME: (state, name) => {
      state.name = name
    },
    SET_NICKNAME: (state, nickname) => {
      state.nickname = nickname
    },
    SET_AVATAR: (state, avatar) => {
      state.avatar = avatar
    },
    SET_ROLES: (state, roles) => {
      state.roles = roles
    },
    SET_PERMISSIONS: (state, permissions) => {
      state.permissions = permissions
    }
  },

  actions: {
    // 登录
    Login({ commit }, userInfo) {
      const username = userInfo.username.trim()
      const password = userInfo.password
      const code = userInfo.code
      const uuid = userInfo.uuid
      return new Promise((resolve, reject) => {
        login(username, password, code, uuid).then(res => {
          setToken(res.token)
          commit('SET_TOKEN', res.token)
          resolve()
        }).catch(error => {
          reject(error)
        })
      })
    },

    // 获取用户信息
    GetInfo({ commit, state }) {
      return new Promise((resolve, reject) => {
        getInfo().then(res => {
          const {user, roles, permissions} = res.data
          
          // const avatar = user.avatar == "" ? require("alinesno-ui/src/assets/images/profile.jpg") : process.env.VUE_APP_BASE_API + user.avatar;
          const avatar = user.avatar == "" ? require("alinesno-ui/src/assets/images/profile.jpg") : displayUrl + user.avatar;
          
          if (roles && roles.length > 0) { // 验证返回的roles是否是一个非空数组
            commit('SET_ROLES', roles)
            commit('SET_PERMISSIONS', permissions)
          } else {
            commit('SET_ROLES', ['ROLE_DEFAULT'])
          }
          if(user){
           commit('SET_NAME', user.userName)
           commit('SET_NICKNAME', user.nickName)
          }
          commit('SET_AVATAR', avatar)
          resolve(res)
        }).catch(error => {
          reject(error)
        })
      })
    },

    // 退出系统
    LogOut({ commit, state }) {
      return new Promise((resolve, reject) => {
        logout(state.token).then(() => {
          commit('SET_TOKEN', '')
          commit('SET_ROLES', [])
          commit('SET_PERMISSIONS', [])
          removeToken()
          resolve()
        }).catch(error => {
          reject(error)
        })
      })
    },

    // 前端 登出
    FedLogOut({ commit }) {
      return new Promise(resolve => {
        commit('SET_TOKEN', '')
        removeToken()
        resolve()
      })
    }
  }
}

export default user
